@import url("https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap");
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.event {
  font-family: "Metal Mania", cursive;
  font-style: italic;
  font-size: 55px;
  max-width: 90%;
}
.timer {
  max-width: 90%;
  display: flex;
}
.field {
  width: 200px;
  max-width: 23%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.value {
  font-family: "Metal Mania", cursive;
  font-size: 50px;
}
.label {
  font-family: "Metal Mania", cursive;
  font-size: 25px;
}
